body{
  color: #27233E;
  background-color: #1d262f;
  border: 0;
  margin: 0;
  display: flex;
  align-items: center;
  flex-direction: column
}

h1{
  color: #34febb
}

p{
  color: #32ae85
}

input{
  background-color: #88b4E7;
  color:  #1d262f;
  border: 2px inset #88b4E7;
  border-radius: 5px;
  min-width: 4em;
  min-height: 2em;
  margin: .5em;
}

form{
  color: #32ae85;
  justify-content: center;
}

button{
  background-color: #5d8cc0;
  border: 2px outset #5d8cc0;
  border-radius: 5px;
}
